<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hw_1">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/stitch_icon"
        android:label="Stitch, Run!"
        android:roundIcon="@drawable/stitch_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>